*{
    margin:0 auto;
    padding: 0;
    list-style-type: none;
} 

:root{
    --color-grey: rgb(51, 47, 47);
    --color-light-cream: rgb(241, 237, 229);
    --color-dark-cream:  rgb(209, 172, 98);
}

.header{
    background-color: black;
    /* Orientation: First non-static parent */
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
}
.menu-btn{
    width: 2.5em;
    height: 2.5em;
}
.align-left{
    text-align: left;
    width: 100%;
}
.align-center{
    text-align: center;
    width: 100%;
}
.complete-logo{
    display: none;
}
.header-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    padding: 0 1rem;
}
.header-vector-img{
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
}
.top-logo{
    height: 3.3em;
    width: 3.3em;
    margin-bottom: 1em;
}

.align-right{
    text-align: right;
    width: 100%;
}

.topic-selection{
    background-color: var(--color-grey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5em 1rem;
    color:white;
}
.topic-selection a{
    color:white;
    text-decoration: none;
}

.is-active{
    padding-bottom: .5em;
    border-bottom-color: white;
    border-bottom-style: solid;
}
.trending{
    display: block;
}
.editor{
    display: none;
}
.new{
    display: none
}

.menu{
    color: black;
    margin: 1rem;
    background-color: var(--color-grey);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: 
    "srch srch srch"
    "ctgy . tags"
    "head head head"
    "tpcs tpcs tpcs"
    "devs devs devs"
    "name name name";
    grid-gap: .5rem;
}

.button-style{
    color: black;
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    /* text-align: left; */
}
.header-nav-btns{
    margin:1em;
    text-align: center;
    color:black;
    background-color: var(--color-light-cream);
    display: none;
}

.search-bar{
    grid-area: srch;
    justify-self: stretch;
    padding: 1rem;
}
.search-style{
    max-width: 100%;
    text-align: center;
}
.category{
    background-color: var(--color-light-cream);
    grid-area: ctgy;
    max-width: 100%;
    padding: 0 .5em;
    margin: 0 1rem;
}
.topic-tags{
    grid-area: tags;
    background-color: var(--color-light-cream);
    max-width: 100%;
    padding: 0 .5em;
    margin: 0 1rem;
}
.topics-head{
    grid-area: head;
    color: white;
    font-size: 2em;
}
.topics-selection{
    grid-area: tpcs;
    max-width: 100%;
    margin: 0 1rem;
}
.topics-selection span{
    padding-left: 1rem;
}

.topics-list{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin-bottom: 1rem;
    
}
.topics-list > div{
    background-color: var(--color-light-cream);
    max-width: 100%;
    width: 100%;
}
.devs-head{
    grid-area:devs;
    color: white;
    font-size: 1.5em;
}
.devs-selection{
    grid-area: name;
    color:white;
    max-width: 100%;
    margin: .5rem 1rem .5rem 0;
}
.devs-list{
    max-width: 100%;
    margin-left: 25vw;
}

.devs-list input{
    margin: .3em 1em;
}
.post-area{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 1rem;
}

.post{
    border-style: solid;
    border-color: var(--color-grey);
    border-width: .2em;
    background-color: var(--color-light-cream);
    display: grid;
    grid-template-columns: 1fr;
}
.post-main{
    display:grid;
    grid-template-columns: 1fr;
    max-height: 70vh;
    overflow-y: hidden ;
}
.post-area img{
    max-width: 100%;
    width:100%;
    height:30vh;
    margin-left: auto;
    margin-right: auto;
}
.post-text-area{
    margin: 1rem 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.post-text-area li{
    padding: .5em 0 0 0;
}
.post-text-area h2{
    font-family: 'Times New Roman', Times, serif;
}
.post-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1em;
    font-size: 1.2em;
    grid-gap: .5em;
    max-width:100%;
}
.post-icons span{
    margin: 0 0 .5em .5em;
}
.footer{
    background-color: var(--color-grey);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    color: white;
    grid-gap: 1em;
    padding: 1em 1rem;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}
.footer-logo{
    max-width: 100%;
    height: 10em;
}
.footer-icons a{
  color: white;
  font-size: 3em;
  text-align: left;
}
.footer-contact-parent{
    display: grid;
    text-align: center;
    grid-gap: 1em;
}
.footer-contacts{
    width:100%;
}

@media(min-width:768px){
    .post-area{
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icons{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        margin: 1em;
    }
    .topics-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .devs-list{
        margin-left: 40vw;
    }
}

@media(min-width:1200px){
    .inline-force{
        display: inline-block;
        margin-left:5.3rem;
        width: 75%;
        max-width:80%;
    }
    .menu-btn{
        display:none;
    }
    .header-icons{
        grid-template-columns: repeat(6, 1fr);
        width:100%;
        justify-self: stretch;
    }
    .header-nav-btns{
        display: inline-block;
    }
    .complete-logo{
        /* height: 2em; */
        display: inline-block;
        width:  10em;
        margin: .2em;
    }
    .big-sign-in-btn{
        background-color: black;
    }
    .devs-list{
        margin-left: 0;
    }
    .post-area{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icons{
        grid-template-columns: repeat(4, 1fr);
        margin: 2em;
    }
    .footer-icons a{
        font-size: 3em;
      }
    .topics-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-contacts{
        font-size: 1.3em;
    }
    .footer-logo{
        max-width: 100%;
        height: 6em;
    }
    .menu{
        position:fixed;
        width: 16rem;
        top: 11.6em;
        overflow-y:scroll;
    }
    .footer-contact-parent{
        grid-template-columns: 1fr 1fr;
    }
    .post-area{
        margin-left: 18rem;
    }
    .post-main{
        max-height: 50vh;
    }
    .post-area img{
        height:20vh;
    }
    .topic-selection{
        font-size:1.2em;
    }
    

}

